section.info-block(style='background: url("images/homepage/banner-info.jpg")')
	.container
		.info-block__image
		.info-block__content
			.info-block__title Производим выпуск <br> и перевыпуск карт сертификации дайверов
			+button('Подробнее', 'button--outline button--icon info-block__more', 'chevron-right')