//-<div class="content content--fixed1" style="display: none;">
  <div class="page-header">
    <h1 class="page-header__title">
      <span class="page-header__title-inner">LikeNuShus</span>
      <span class="page-header__title-sub">man &amp; woman</span>
    </h1>
    <ul class="social">
      <li class="social__item">
        <a class="social__item-link" href="https://codepen.io/DivineBlow" target="_blank">
          <svg class="icon icon--social icon--codepen">
            <use xlink:href="#icon-codepen"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <p class="tagline">Lightly Used Shoes, Cheap!</p>
//-</div>
.slideshow
  .slide
    .slide__wrap
      //.slide__img(style="background-image: url(https://images.pexels.com/photos/1456735/pexels-photo-1456735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);")
      .slide__img(style="background-image: url(images/shop-slider/full.jpg)")
      
      .slide__title-wrap
        .slide__content
          h3.slide__title
            span Ныряйте вместе 1
            span.slide__title-shifted с нашими часами
          .slide__price 
            span.slide__price-val 1 200₽ 
            span.slide__price-text за комплект
          a.action.action--details(href="#")
            span Подробнее
            +icon('chevron-right')(width="7", height="11")

  .slide
    .slide__wrap
      //.slide__img(style="background-image: url(https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8)")
      .slide__img(style="background-image: url(images/shop-slider/full.jpg)")
      .slide__title-wrap
        .slide__content
          h3.slide__title
            span Ныряйте вместе 2
            span.slide__title-shifted с нашими часами
          .slide__price 
            span.slide__price-val 1 200₽ 
            span.slide__price-text за комплект
          a.action.action--details(href="#") 
            span Подробнее
            +icon('chevron-right')(width="7", height="11")

  .slide
    .slide__wrap
      //.slide__img(style=" background-image: url(https://images.unsplash.com/photo-1612902377756-414b2139d5e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);")
      .slide__img(style="background-image: url(images/shop-slider/full.jpg)")
      .slide__title-wrap
        .slide__content
          h3.slide__title
            span Ныряйте вместе 3
            span.slide__title-shifted с нашими часами
          .slide__price 
            span.slide__price-val 1 200₽ 
            span.slide__price-text за комплект
          a.action.action--details(href="#") 
            span Подробнее
            +icon('chevron-right')(width="7", height="11")

  .details-wrap
    .details
      .details__item.details__item--close(data-direction="ttb")
        .details__inner
          button.action.action--close(type="button")


    // /details
    .details
      .details__item.details__item--close(data-direction="ttb")
        .details__inner
          button.action.action--close(type="button") Close

    // /details
    .details
      .details__item.details__item--close(data-direction="ttb")
        .details__inner
          button.action.action--close(type="button")

    // /details

  //-.test-line
  //-.test-line.test-line--red
  .boxnav
    button.boxnav__item.boxnav__item--prev(type="button", aria-label="prev slide")
      +icon('prev')(width="11", height="22")
    .boxnav__item.boxnav__item--label
      span.boxnav__label.boxnav__label--current 1
      span.boxnav__label.boxnav__label--total
    
    button.boxnav__item.boxnav__item--next(type="button", aria-label="next slide")
      +icon('next')(width="11", height="22")


  button.action.action--details.action--details-mobile(type="button", aria-label="show details") + details
<!-- details -->
