footer.footer
    .container.footer__container
        .footer__top
            .footer__col
                .footer__title.js-accord-title
                    span Для клиентов
                    +icon('arrow-angle')(width='15', height='10')
                .footer__menu.js-accord-content
                    .footer__menu-col
                        .footer__menu-link
                            a(href="") Магазин
                        .footer__menu-link
                            a(href="") Подарочные сертификаты
                        .footer__menu-link
                            a(href="") Новости
                        .footer__menu-link
                            a(href="") Календарь
                        .footer__menu-link
                            a(href="") Клубные поездки
                        .footer__menu-link
                            a(href="") Оплата и доставка
                        .footer__menu-link
                            a(href="") Как сделать заказ
                    .footer__menu-col
                        .footer__menu-link
                            a(href="") О нас
                        .footer__menu-link
                            a(href="") Контакты
                        .footer__menu-link
                            a(href="") Личный кабинет
                        .footer__menu-link
                            a(href="") Сертификация
                        .footer__menu-link
                            a(href="") Акции
                        .footer__menu-link
                            a(href="") Пункты выдачи заказов

            .footer__col
                .footer__title.js-accord-title
                    a(href="") Обучение дайвингу
                    +icon('arrow-angle')(width='15', height='10')
                .footer__diving.js-accord-content
                    .footer__diving-group
                        .footer__diving-title
                            a(href="") Групповые курсы
                        .footer__diving-flex
                            a(href="") SDI
                            a(href="") TDI
                            a(href="") FRTI
                    .footer__diving-group
                        .footer__diving-title
                            a(href="") Индвидуальные курсы
                        .footer__diving-flex
                            a(href="") SDI
                            a(href="") TDI
                            a(href="") FRTI

            .footer__col
                .footer__social
                    .footer__social-title.footer__title Мы в соцсетях:
                    +socials('socials--horizontal footer__socials', ['tiktok', 'vk-fill', 'insta', 'fb'])
                .footer__contacts
                    .footer__contacts-item
                        +icon('footer-phone')(width='20', height='20')
                        a(href="") +7 (999) 888 77-65
                    .footer__contacts-item
                        +icon('whatsapp')(width='23', height='23')
                        a(href="") +7 (999) 888 77-65
                    .footer__contacts-item
                        +icon('footer-email')(width='20', height='14')
                        a(href="") 12345yadaiver@mail.com
                .footer__politic
                    .footer__politic-item
                        a(href="") Политика конфиденциальности
                    .footer__politic-item
                        a(href="") Обработка персональных данных

        .footer__bottom
            .footer__copy 2021 © Все права защищены
            .footer__logos
                +icon('logo-tdi')(width='101', height='47')
                +icon('logo-sdi')(width='98', height='47')
            .footer__dev Создание и продвижение сайта:
                div
                    a(href='#', target='_blank') mockup.digital










