header.header(class= headerClasses || '')
    .header__container
        .header__logo
            a.header__logo-tdi(href= URLS.home)
                +icon('logo-tdi')(width="85", height="40")
            a.header__logo-sdi(href= URLS.home)
                +icon('logo-sdi')(width="84", height="40")


        .header__main
            button.header__main-close(type="button", aria-label="Скрыть меню")
                +icon('close')(width="14", height="14")
            .header__main-menu.menu
                .menu__list
                    .menu__item.menu__item--parent
                        a.menu__link(href="") Обучение дайвингу
                        .menu__submenu
                            .menu__submenu-list.menu__submenu-list--cat
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Индивидуальные курсы
                                    .menu__submenu-list.menu__submenu-list--cat
                                        .menu__submenu-item
                                            a.menu__submenu-link(href="") SDI
                                            .menu__submenu-list
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Сухой Костюм / Dry Suit
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Подлёдные погружения / Ice Diver
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Экстренная медицинская помощь / Adult and Child Emergency Care
                                        .menu__submenu-item
                                            a.menu__submenu-link(href="") TDI
                                            .menu__submenu-list
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                        .menu__submenu-item
                                            a.menu__submenu-link(href="") FRTI
                                            .menu__submenu-list
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Групповые курсы
                                    .menu__submenu-list.menu__submenu-list--cat
                                        .menu__submenu-item
                                            a.menu__submenu-link(href="") SDI
                                            .menu__submenu-list.menu__submenu-list--cat
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Сухой Костюм / Dry Suit
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Подлёдные погружения / Ice Diver
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Экстренная медицинская помощь / Adult and Child Emergency Care
                                        .menu__submenu-item
                                            a.menu__submenu-link(href="") TDI
                                            .menu__submenu-list
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                        .menu__submenu-item
                                            a.menu__submenu-link(href="") FRTI
                                            .menu__submenu-list
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Open Water Scuba Diver VIP
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курc
                                                .menu__submenu-item
                                                    a.menu__submenu-link(href="") Продвинутая плавучесть расширенный курс / Advanced Buoyancy extended
                    .menu__item.menu__item--parent
                        a.menu__link(href="") Магазин
                        .menu__submenu
                            .menu__submenu-list
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Костюмы
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Такелаж
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Ребризер
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Подводная съемка
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Sidemount
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Аксессуары
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Фонари
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Катушки и буи
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Учебники
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Ласты
                                .menu__submenu-item
                                    a.menu__submenu-link(href="") Мерч
                    .menu__item
                        a.menu__link(href="") Календарь
                    .menu__item
                        a.menu__link(href="") Акции
                    .menu__item
                        a.menu__link(href="") Оплата и доставка
                    .menu__item
                        a.menu__link(href="") Статьи
                    .menu__item
                        a.menu__link(href="") Контакты


            .header__main-bottom
        .header__right
            .header__lang-swither
                a.ru.active RU
                span.delimiter /
                a.en(href="#") EN

            a.header__basket(href= URLS.cart.main)
                +icon('cart')(width='20', height='20')
                span 0

            a.header__profile(href= URLS.cabinet.profile)
                +icon('profile')(width='20', height='20')

        button.header__burger(type="button")
            +icon('burger')(width='22', height='11')