.articles-page {
	padding: 0 0 27px;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 40px -12px 0;

		@include max(sm) {
			margin: 25px 0 0;
		}
	}

	&__item {
		width: calc(33.3333% - 24px);
		margin: 0 12px 19px;

		@include max(md) {
			width: calc(50% - 24px);
			margin: 0 12px 24px;
		}

		@include max(sm) {
			width: 100%;
			margin: 0 0 18px;
		}
	}
	
	&__section {
		padding: 0;
	}

	.choices__list--dropdown {
		right: 0;
	}
}