.components {
  $self: &;

  padding: 150px 0 100px;

  &__block-outer {
    + .components__block-outer {
      margin-top: 61px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 39px;
    line-height: 61px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 31px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 62px;
    margin-bottom: 50px;
  }

  &__title-item {
    + #{$self}__title-item {
      margin-top: 41px;
    }

    &:last-child {
      margin-bottom: 78px;
    }
  }

  &__title-text {
    margin-bottom: 30px;
  }

  &__block {
    &-outer {
      padding-top: 24px;
      padding-bottom: 24px;

      & + & {
        border-top: solid 1px $gray;
      }
    }
  }
}

.start-page {
  padding: 120px 0;
  height: 100vh;
  background-size: cover;
  background-image: url("../images/_dev_start-page-bg.jpg");
  background-color: $blue;

  &__title {
    margin: 0 0 40px;
    font-size: 42px;
    line-height: 1.5;
    color: $white;
    font-weight: 700;
  }

  ul {
    list-style: none;
    column-count: 3;
    column-gap: 40px;
  }

  li + li {
    margin-top: 8px;
  }

  a {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    color: $white;
    transition: opacity 0.3s ease;

    @include hover {
      opacity: 0.9;
    }
  }
}



.hide-btns ~ .tutorials__nav,
.hide-btns ~ button{
  display: none;
}
.hide-btns-640 ~ .tutorials__nav,
.hide-btns-640 ~ button{
  @include min(640){
    display: none;
  }
}
.hide-btns-960 ~ .tutorials__nav,
.hide-btns-960 ~ button{
  @include min(960){
    display: none;
  }
}


.woof_container{
  padding-bottom: 23px;
  border-bottom: solid 1px $dark;

  &.no-border {
	border-bottom: none;
  }

  @include max(md) {
	width: calc(33.33% - 20px);
	margin-top: 23px;
	margin-left: 20px;
  }

  @include max(sm) {
	width: calc(50% - 20px);
  }

  @include max(600) {
	width: 100%;
	margin-top: 0;
	margin-left: 0;
  }

  & + & {
	margin-top: 30px;
  }

  h4{
	position: relative;
	display: block;
	width: 100%;
	padding: 0 16px 0 0;

	font-size: 19px;
	line-height: 1.526315789473684;
	font-weight: 500;
	color: $dark;
	text-align: left;
	appearance: none;
	cursor: pointer;
	transition: color 0.3s ease;
	+.woof_block_html_items{
	  padding-top: 28px;
	  padding-bottom: 2px;
	}
  }
  .woof_front_toggle{
	content: "";
	position: absolute;
	top: 14px;
	right: 0;
	width: 8px;
	height: 4px;
	transform: scale(1, -1);
	color: transparent;
	font-size: 0;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 0l4 4 4-4H0z' fill='%232c60ae'/%3e%3c/svg%3e");
  }
}

.woof_list_checkbox{
  > li {
	& + & {
	  margin-top: 10px;
	}

	display: block;

	.woof_checkbox_label {
	  position: relative;
	  display: inline-block;
	  vertical-align: top;
	  padding-left: 30px;
	  font-size: 14px;
	  line-height: (22 / 14);
	  color: $dark;
	  cursor: pointer;
	  &::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border: solid 1px $gray;
		border-radius: 3px;
		transition: border-color 0.3s ease;
		background-color: $white;
	  }
	}

	input:focus ~ .woof_checkbox_label,
	.woof_checkbox_label:hover {
	  &::before {
		border-color: $dark;
	  }
	}

	input:checked ~ .woof_checkbox_label {
	  &::before {
		background-repeat: no-repeat;
		background-size: 70% auto;
		background-position: 50% 50%;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 515.556 515.556' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%232c60ae' d='m0 274.226 176.549 176.886L515.556 112.44l-48.67-47.997-290.337 290L47.996 225.891z'/%3e%3c/svg%3e");
	  }
	}
  }
}


.filters .woof_list label{
  padding-top: 0;
  padding-bottom: 0;
}

.woof_submit_search_form_container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}





.custom-dots .slick-dots {
  @include max(lg) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px 0 0;
    width: 100%;
    z-index: 4;
  }

  li {
    display: block;
    width: 20px;
    height: 2px;
    background-color: $lightBlue;
    cursor: pointer;
    list-style: none;
    cursor: pointer;

    &.slick-active {
      background-color: $blue;
    }

    button {
      display: none;
    }
  }
}

