.components {
  $self: &;

  padding: 150px 0 100px;


	&__block-outer {
		+ .components__block-outer {
			margin-top: 61px;
		}
	}

	&__title {
		font-size: 39px;
		line-height: 61px;
		font-weight: 700;
	}

  &__subtitle {
    font-size: 31px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 62px;
    margin-bottom: 50px;
  }

  &__title-item {
    + #{$self}__title-item {
      margin-top: 41px;
    }

    &:last-child {
      margin-bottom: 78px;
    }
  }

	&__title-text {
		margin-bottom: 30px;
	}

  &__block {
    &-outer {
      padding-top: 24px;
      padding-bottom: 24px;

      & + & {
        border-top: solid 1px $gray;
      }
    }
  }
}
