.courses {
  padding: 50px 0;

  @include max(sm) {
    padding: 30px 0;
  }

  &__breadcrumbs {
    margin-bottom: 50px;

    @include max(sm) {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__header {
    padding-bottom: 50px;
  }
}
