.inner-page {
  padding: 50px 0;

  @include max(sm) {
    padding: 25px 0;
  }

  &__header {
    padding-bottom: 50px;

    @include max(sm) {
      padding-bottom: 25px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 50px;

    @include max(sm) {
      margin-bottom: 25px;
    }

    &.no-margin {
      margin-bottom: 0;
    }
  }

  &__title {
  }

  &__contact {
    margin-top: 92px;

    @include max(sm) {
      margin-top: 72px;
    }
  }
}
