.reviews {
  padding: 60px 0 104px;
  background-color: $gray-f5;

  @include max(md) {
    padding: 50px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;


    @include max(md) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    @include max(md) {
      text-align: center;
    }

    @include max(sm) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__more {
    font-size: 18px;
    padding-right: 0;

    @include max(md) {
      font-size: 16px;
      line-height: 20px;
      margin-top: 10px;
    }
  }

  &__slider{
    position: relative;
    margin-top: 25px;
    @include max(md) {
      margin-top: 18px;
    }
  }

  &__wrapper {
    position: relative;

  }



  &__pagination {
    display: none;
    justify-content: center;
    position: relative;
    z-index: 1;

    @include max(xl) {
      display: flex;
    }

    &.swiper-pagination-lock {
      display: none;
    }

    .swiper-pagination-bullet {
      display: block;
      width: 20px;
      height: 2px;
      background-color: $lightBlue;
      cursor: pointer;

      &-active {
        background-color: $blue;
      }
    }
  }

  &__prev,
  &__next {
    position: absolute;
    top: 46.5%;

    @include max(xl) {
      position: static;
      top: unset;
      bottom: 0;
    }
    @include max(md) {
      display: none;
    }
  }

  &__prev {
    left: -60px;

    @include max(xl) {
      left: 0;
      margin-right: 30px;
    }
  }

  &__next {
    right: -60px;

    @include max(xl) {
      right: 0;
      margin-left: 30px;
    }
  }

  &__navigation{
    position: static;
    @include max(xl) {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-width: 180px;
    }
  }
}

.reviews + .products-carousel {
  margin-top: 36px;
}
