.shop-page {
  padding-bottom: 14px;

  @include max(sm) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__hero {
    margin-bottom: 37px;

    @include max(sm) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__categories {
    margin: 0 auto;
  }

  &__slider {
    @include max(sm) {
      display: none;
    }
  }

  &__stock {
    margin-top: 48px;
    margin-bottom: 34px;

    @include max(sm) {
      order: -1;
      margin: 0;
      padding-top: 20px;
    }
  }

  .info-block {
    margin: 62px 0 36px;
  }

  .tutorials {
    margin: 36px 0;
    padding-bottom: 39px;
  }

  .tutorials__next,
  .tutorials__prev {
    top: 44%;
  }
}
