.trip-page {
  padding: 50px 0;

  &__breadcrumbs {
    margin-bottom: 50px;
  }

  &__hero {
    margin-bottom: 22px;
    padding: 50px 0 46px;
    background-color: $smoky;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/trips/hero-bg.jpg");

    @include retina {
      background-image: url("../images/trips/hero-bg@2x.jpg");
    }

    &-container {
      display: flex;

      & > * {
        align-self: flex-start;
      }
    }

    &-image {
      @include max(md) {
        display: none;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-main {
      width: 46.775%;
      margin-right: 50px;

      @include max(md) {
        width: 100%;
        margin-right: 0;
      }
    }

    &-date {
      margin-top: -5px;
      margin-bottom: 30px;
      font-size: 15px;
      line-height: 1.2;
      color: $gray-ph;

      b {
        font-weight: 600;

        @include max(xs) {
          display: block;
          margin-bottom: 6px;
        }
      }

      .share-btn {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
      }
    }

    &-action {
      display: flex;
      flex-wrap: wrap;
      margin-top: -12px;
      margin-bottom: 48px;
    }

    &-btn {
      margin-top: 12px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &.button--outline {
        background-color: transparent;
      }
    }

    &-price {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 34px;
      margin-top: -8px;

      font-size: 39px;
      line-height: 1;
      font-weight: 500;
      color: $blue-09;

      @include max(sm) {
        font-size: 30px;
      }

      & > * {
        margin-top: 8px;
        align-self: center;
      }

      .old {
        margin-left: 10px;
        font-size: 31px;
        color: $lightBlue3;
        font-weight: 400;
        text-decoration: line-through;

        @include max(sm) {
          font-size: 22px;
        }
      }
    }

    &-text {
      font-size: 14px;
      line-height: 1.857142857142857;
      color: $gray-ph;

      p + p {
        margin-top: 26px;
      }
    }
  }

  &__title {
    margin-bottom: 35px;
  }

  &__content {
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 1.857142857142857;
    color: $gray-ph;

    p + p {
      margin-top: 25px;
    }

    &--columns {
      column-count: 2;

      @include max(sm) {
        column-count: 1;
      }
    }
  }

  &__illustrated {
    font-size: 14px;
    line-height: 1.857142857142857;
    color: $gray-ph;

    figure {
      @include max(md) {
        max-width: 50%;
        height: auto;
      }

      @include max(xs) {
        max-width: none;
        width: 100%;
        margin-right: 0 !important;
        margin-left: 0 !important;
      }
    }

    .float-left {
      margin-right: 24px;
      margin-bottom: 24px;
    }
    .float-right {
      margin-left: 24px;
      margin-bottom: 24px;
    }

    p + p {
      margin-top: 25px;
    }
  }

  &__calendar {
    margin-top: 50px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
