extends ../layouts/default

block vars
	-
		const page = {
			title: 'Статьи'
		};

		const bc = [
			{text: page.title}
		];

block main
	article.articles-page
		.container
			+breadcrumbs(bc, 'inner-page__breadcrumbs')
			section.articles.articles-page__section
				.articles-page__top
					+title('Статьи', '', 'title--medium articles-page__title')
					select.__js_custom-select(name="select")
						each it in ['',1,2,3,4,5,6,7]
							option(value="by-deadline" + it) По актуальности #{it}
				.articles-page__wrapper
					.articles-page__item.articles-card
						.articles-card__image
							img(src="images/homepage/articles/1.jpg", srcset="images/homepage/articles/1.jpg 2x", width="397", height="246", alt="")
						.articles-card__content
							.articles-card__title Что такое дейли дайвинг <br> или сафари. Его особенности
							.articles-card__row
								+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
								.articles-card__date 20.08.2021
					.articles-page__item.articles-card
						.articles-card__image
							img(src="images/homepage/articles/2.jpg", srcset="images/homepage/articles/2.jpg 2x", width="397", height="246", alt="")
						.articles-card__content
							.articles-card__title Сайдмаунт - плюсы и минусы. Сложности сборки
							.articles-card__row
								+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
								.articles-card__date 20.08.2021
					.articles-page__item.articles-card
						.articles-card__image
							img(src="images/homepage/articles/3.jpg", srcset="images/homepage/articles/3.jpg 2x", width="397", height="246", alt="")
						.articles-card__content
							.articles-card__title Лучшие места для дайвинга. <br> Наша подборка
							.articles-card__row
								+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
								.articles-card__date 20.08.2021
					.articles-page__item.articles-card
						.articles-card__image
							img(src="images/homepage/articles/3.jpg", srcset="images/homepage/articles/3.jpg 2x", width="397", height="246", alt="")
						.articles-card__content
							.articles-card__title Лучшие места для дайвинга. <br> Наша подборка
							.articles-card__row
								+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
								.articles-card__date 20.08.2021
					.articles-page__item.articles-card
						.articles-card__image
							img(src="images/homepage/articles/1.jpg", srcset="images/homepage/articles/1.jpg 2x", width="397", height="246", alt="")
						.articles-card__content
							.articles-card__title Что такое дейли дайвинг <br> или сафари. Его особенности
							.articles-card__row
								+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
								.articles-card__date 20.08.2021
					.articles-page__item.articles-card
						.articles-card__image
							img(src="images/homepage/articles/2.jpg", srcset="images/homepage/articles/2.jpg 2x", width="397", height="246", alt="")
						.articles-card__content
							.articles-card__title Сайдмаунт - плюсы и минусы. Сложности сборки
							.articles-card__row
								+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
								.articles-card__date 20.08.2021
					.articles-page__item.articles-card
						.articles-card__image
							img(src="images/homepage/articles/1.jpg", srcset="images/homepage/articles/1.jpg 2x", width="397", height="246", alt="")
						.articles-card__content
							.articles-card__title Что такое дейли дайвинг <br> или сафари. Его особенности
							.articles-card__row
								+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
								.articles-card__date 20.08.2021
					.articles-page__item.articles-card
						.articles-card__image
							img(src="images/homepage/articles/2.jpg", srcset="images/homepage/articles/2.jpg 2x", width="397", height="246", alt="")
						.articles-card__content
							.articles-card__title Сайдмаунт - плюсы и минусы. Сложности сборки
							.articles-card__row
								+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
								.articles-card__date 20.08.2021
					.articles-page__item.articles-card
						.articles-card__image
							img(src="images/homepage/articles/3.jpg", srcset="images/homepage/articles/3.jpg 2x", width="397", height="246", alt="")
						.articles-card__content
							.articles-card__title Лучшие места для дайвинга. <br> Наша подборка
							.articles-card__row
								+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
								.articles-card__date 20.08.2021
