extends ../layouts/default

block vars
  -
    const page = {
      title: 'Магазин'
    };

    const bc = [
      {text: page.title}
    ];
    const PRODUCTS = [
      {
        img: {n: '1', w: '120', h: '171'},
        title: 'SDI OWD',
        text: 'Open Water Diver. Учебное пособие по дайвингу',
        isOldPrice: true,
        label: '-10%',
        cl: 'products-grid__item'
      },
      {
        img: {n: '2', w: '115', h: '171'},
        title: 'SDI ночной дайвинг',
        text: 'Ночной дайвинг. Подводная навигация и погружения ',
        label: 'Хит',
        cl: 'products-grid__item'
      },
      {
        img: {n: '3', w: '120', h: '171'},
        title: 'FRTI пособие',
        text: 'Экстренная медицинская помощь для взрослых и детей',
        label: 'New',
        cl: 'products-grid__item'
      },
      {
        img: {n: '4', w: '123', h: '171'},
        title: 'Стивен Барски Dry Suit',
        text: 'Дайвинг в сухом костюме. История, обзор теории, уход.',
        cl: 'products-grid__item'
      },
      {
        img: {n: '5', w: '140', h: '186'},
        title: 'SDI OWD',
        text: 'Open Water Diver. Учебное пособие по дайвингу',
        isOrderIt: true,
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '6', w: '171', h: '195'},
        title: 'SDI ночной дайвинг',
        text: 'Ночной дайвинг. Подводная навигация и погружения',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '7', w: '106', h: '193'},
        title: 'FRTI пособие',
        text: 'Экстренная медицинская помощь для взрослых и детей',
        isOrderIt: true,
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '8', w: '112', h: '201'},
        title: 'Стивен Барски Dry Suit',
        text: 'Дайвинг в сухом костюме. История, обзор теории, уход.',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '1', w: '120', h: '171'},
        title: 'SDI OWD',
        text: 'Open Water Diver. Учебное пособие по дайвингу',
        isOldPrice: true,
        label: '-10%',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '7', w: '106', h: '193'},
        title: 'FRTI пособие',
        text: 'Экстренная медицинская помощь для взрослых и детей',
        isOrderIt: true,
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '2', w: '115', h: '171'},
        title: 'SDI ночной дайвинг',
        text: 'Ночной дайвинг. Подводная навигация и погружения ',
        label: 'Хит',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '4', w: '123', h: '171'},
        title: 'Стивен Барски Dry Suit',
        text: 'Дайвинг в сухом костюме. История, обзор теории, уход.',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '8', w: '112', h: '201'},
        title: 'Стивен Барски Dry Suit',
        text: 'Дайвинг в сухом костюме. История, обзор теории, уход.',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '3', w: '120', h: '171'},
        title: 'FRTI пособие',
        text: 'Экстренная медицинская помощь для взрослых и детей',
        label: 'New',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '1', w: '120', h: '171'},
        title: 'SDI OWD',
        text: 'Open Water Diver. Учебное пособие по дайвингу',
        isOldPrice: true,
        isOrderIt: true,
        label: '-10%',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '6', w: '171', h: '195'},
        title: 'SDI ночной дайвинг',
        text: 'Ночной дайвинг. Подводная навигация и погружения',
        isOrderIt: true,
        cl: 'products-grid__item hide'
      },{
        img: {n: '1', w: '120', h: '171'},
        title: 'SDI OWD',
        text: 'Open Water Diver. Учебное пособие по дайвингу',
        isOldPrice: true,
        label: '-10%',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '2', w: '115', h: '171'},
        title: 'SDI ночной дайвинг',
        text: 'Ночной дайвинг. Подводная навигация и погружения ',
        label: 'Хит',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '3', w: '120', h: '171'},
        title: 'FRTI пособие',
        text: 'Экстренная медицинская помощь для взрослых и детей',
        label: 'New',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '4', w: '123', h: '171'},
        title: 'Стивен Барски Dry Suit',
        text: 'Дайвинг в сухом костюме. История, обзор теории, уход.',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '5', w: '140', h: '186'},
        title: 'SDI OWD',
        text: 'Open Water Diver. Учебное пособие по дайвингу',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '6', w: '171', h: '195'},
        title: 'SDI ночной дайвинг',
        text: 'Ночной дайвинг. Подводная навигация и погружения',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '7', w: '106', h: '193'},
        title: 'FRTI пособие',
        text: 'Экстренная медицинская помощь для взрослых и детей',
        cl: 'products-grid__item hide'
      },
      {
        img: {n: '8', w: '112', h: '201'},
        title: 'Стивен Барски Dry Suit',
        text: 'Дайвинг в сухом костюме. История, обзор теории, уход.',
        cl: 'products-grid__item hide'
      },
    ];

    const tags = ['Курсы в подарок', 'Акция', 'Распродажа', 'Снаряжение', 'Курсы в подарок', 'Акция', 'Распродажа', 'Снаряжение', 'Акция', 'Акция', 'Распродажа', 'Курсы в подарок', 'Курсы в подарок', 'Снаряжение', 'Распродажа', 'Снаряжение', 'Акция'];

block main
  article.inner-page
    header.inner-page__header
      .container
        +breadcrumbs(bc, 'inner-page__breadcrumbs')
        +title('Магазин', 'h1', 'title--medium inner-page__title')
        .inner-page__filter.filter-block
          select.__js_custom-select(name="select")
            option(value="by-popular") По популярности
            option(value="by-price") По цене
          .custom-checbox
            input.visually-hidden#withDiscount(type="checkbox")
            label(for="withDiscount") Со скидкой
        .inner-page__tags.tags-block
          +title('Теги', 'div', 'title--small tags-block__title')
          .tags-block__list
            each item, index in tags 
              +button(item, 'tags-block__item' + (index === 2 ? ' tags-block__item--checked' : ''), '', '#')
          
          .tags-block__only-mobile
            select.__js_tags-select(name="tabs-select")
              each item, index in tags 
                option(value= index )= item

    
    .container
      .products-grid
        each item in PRODUCTS
          +product-preview(item)
      
      +button('Больше товаров', 'inner-page__more-products __js_show-more-products')
      
      +pagination('inner-page__pagination')