extends ../layouts/components

block vars
	-
		const page = {
			title: 'Общие компоненты'
		};

block main
	.components
		.container
			.components__block-outer
				.components__title Типография
				.components__block-inner
					.components__subtitle Заголовки
					+title('Давно выяснено, что при оценке', 'h1', 'title--large components__title-item')
					+title('Здесь ваш текст.. Здесь ваш текст.." Многие', 'h2', 'title--medium components__title-item')
					+title('так что поиск по ключевым словам "lorem ipsum" сразу показывает', 'h3', 'title--small components__title-item')
					+title('редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию', 'h4', 'components__title-item')
					+title('За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке', 'h5', 'components__title-item')
					+title('Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так', 'h6', 'components__title-item')
				.components__block-inner
					.components__subtitle Наборный текст
			
			.components__block-outer
				.product-preview
					//16-25-25
					span.product-preview__label -10%
					.product-preview__image 
						//h 200px
						img(src="https://via.placeholder.com/200", alt="")
					h3.product-preview__title 
						a(href="#") Стивен Барски Dry Suit
					.product-preview__text Дайвинг в сухом костюме. История, обзор теории, уход.
					.product-preview__bottom 
						a.product-preview__btn(href="#") 
							img(src="images/components/btn.png", alt="")
						.product-preview__price
							.product-preview__price-old 1200₽
							| 1200₽
					

