extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/first-screen.pug
	include ../blocks/courses.pug
	include ../blocks/tutorials.pug
	include ../blocks/stock.pug
	include ../blocks/recommend.pug
	include ../blocks/trip.pug
	include ../blocks/reviews.pug
	include ../blocks/products.pug
	include ../blocks/info-block.pug
