extends ../layouts/components

block vars
	-
		const page = {
			title: 'Проект "Дайвинг" - разводящая'
		};
		//урлы страниц в файле c переменными ./pug/layouts/vars.pug
		const pages = [
			{name: 'Главная страница', url: 'homepage.html'},
			{name: 'Страница с компонентами', url: 'components.html'},
			{name: 'Карточка товара', url: URLS.product},
			{name: 'Карточка товара (нет в наличии)', url: URLS.productNo},
			{name: 'Магазин', url: URLS.catalog},
			{name: 'Курсы дайвинга', url: URLS.courses},
			{name: 'Курс подробная ', url: URLS.course},
			{name: 'Клубные поездки', url: URLS.trips},
			{name: 'Клубная поездка', url: URLS.trip},
			{name: 'Сертификация дайверов', url: URLS.certification},
			{name: 'Корзина', url: URLS.cart.main},
		]

block main
	section.start-page
		.container
			h1.start-page__title Проект дайвинг
			ul
				each item in pages
					li
						a(href= item.url, target="_blank")= item.name


