extends ../layouts/components

block vars
	-
		const page = {
			title: 'Проект "Дайвинг" - разводящая'
		};
		//урлы страниц в файле c переменными ./pug/layouts/vars.pug
		const pages = [
			{name: 'Страница с компонентами', url: 'components.html'},
			{name: 'Карточка товара', url: URLS.product},
			{name: 'Магазин', url: URLS.catalog},
		]

block main
	section.start-page 
		.container
			h1.start-page__title Проект дайвинг
			ul 
				each item in pages 
					li 
						a(href= item.url, target="_blank")= item.name


