extends ../layouts/default

block vars
  -
    const page = {
      title: 'Корзина'
    };

    const bc = [
      {text: page.title}
    ];


block main
  article.inner-page
    header.inner-page__header
      .container
        +breadcrumbs(bc, 'inner-page__breadcrumbs')
        .inner-page__header-row
          +title('Оформление заказа', 'h1', 'title--medium inner-page__title')
    .container 
      section.cart-promo 
        .cart-promo__top Есть купон? <a href="#">Нажмите, чтобы ввести</a>
        .cart-promo__bottom
          .cart-promo__text Если у вас есть код купона, укажите его ниже.
          form(action="#", method="post")
            label.cart-promo__field.field.field--inline
              span.field__hint Промокод
              input(type="text", name="promocode")
            +button('Применить', 'cart-promo__btn')(type="submit")
      
      .inner-page__flex-wrapper 
        section.making-order-part
          +title('Детали оплаты', 'h2', 'title--small making-order-part__title')
          .making-order-part__form.sform
            form(action="#", method="post")
              //- .field--valid .field--error
              label.sform__field.sform__field--half.field
                span.field__hint Ваше Имя*
                input(type="text", name="name")
              label.sform__field.sform__field--half.field
                span.field__hint Номер телефона*
                input(type="tel", name="phone")
              label.sform__field.field
                span.field__hint Email*
                input(type="email", name="email")
              label.sform__field.field
                span.field__hint Что вас интересует
                textarea(name="message")
              .custom-radio
                label.custom-radio__item
                  input.visually-hidden(type="radio", name="delivery-type", value="1")
                  span.custom-radio__text Самовывоз
                label.custom-radio__item
                  input.visually-hidden(type="radio", name="delivery-type", value="2", checked)
                  span.custom-radio__text Единая ставка
              
        section.making-order-part
          +title('Детали оплаты', 'h2', 'title--small making-order-part__title')

          .cart-result
            header.cart-result__header 
              .cart-result__title Товар
              .cart-result__title Стоимость
            .cart-result__body
              .cart-result__row
                .cart-result__hint Стивен Барски Dry Suit х1
                .cart-result__val 999&nbsp;200₽
              .cart-result__row
                .cart-result__hint Скидка
                .cart-result__val -200₽
                  
            footer.cart-result__footer 
              .cart-result__row
                .cart-result__hint Итого
                .cart-result__val  999&nbsp;200₽
              .cart-result__action
                a.cart-result__clear(href="#") Очистить
                +button('Подтвердить заказ', 'cart-result__send', '', '#')


