extends ../layouts/default

block vars
  -
    const page = {
      title: 'Кислородный баллон TANK BACK PACK'
    };

    const bc = [
      {text: 'Магазин', url: URLS.catalog},
      {text: page.title}
    ];

block main
  article.product-card
    .container
      +breadcrumbs(bc, 'product-card__breadcrumbs')
      .product-card__main
        .product-card__image
          .product-card__photo
            img(src="images/product-card/product-full.jpg", srcset="images/product-card/product-full@2x.jpg 2x"  width="495", height="545", alt="")
          .product-card__slider
            img(src="images/product-card/product-thumb-1.jpg", srcset="images/product-card/product-thumb-1@2x.jpg 2x"  width="93", height="93", alt="")
            img(src="images/product-card/product-thumb-2.jpg", srcset="images/product-card/product-thumb-2@2x.jpg 2x"  width="93", height="93", alt="")
            img(src="images/product-card/product-thumb-3.jpg", srcset="images/product-card/product-thumb-3@2x.jpg 2x"  width="93", height="93", alt="")
            img(src="images/product-card/product-thumb-4.jpg", srcset="images/product-card/product-thumb-4@2x.jpg 2x"  width="93", height="93", alt="")
        .product-card__info 
          +title(page.title, 'h1', 'title--large product-card__title')
          .product-card__article Артикул: 01234567890abc
          .product-card__parameters
            .product-card__parameter.parameter
              .parameter__title Вместимость воздуха (мл)
              .parameter__list 
                each item, index in ['1000', '1500', '2000', '2500']
                  a.parameter__item(class= (index === 2 ? '.parameter__item--checked' : ''), href="#")= item
            
            .product-card__parameter.parameter
              .parameter__title Цвет
              .parameter__list 
                each item, index in [{n: 'Yellow', c: '#dec200'}, {n: 'Black', c: '#000000'}, {n: 'Gray', c: '#706e79'}]
                  a.parameter__item(href="#", style="background-color: " + item.c + ";", title= item.n)
                    span.visually-hidden= item.n
          
          .product-card__price
            span.product-card__price-min 1500
            span.product-card__price-max - 2500
          .product-card__action 
            a(href="") 
            img(src="images/components/btn.png", alt="")
            a(href="") 


