-
  const URLS = {
    home: 'homepage.html',
    catalog: 'catalog.html', //Каталог
    product: 'product-card.html', // Карточка товара
    productNo: 'product-card-no.html', // Карточка товара нет в наличии
    courses: 'courses-page.html', // Курс дайвинга
    course: 'course-page.html', // Курс подробная
    trips: 'trips-page.html', // Клубные поездки
    trip: 'trip-page.html', // Клубная поездка
    certificates: '#', // Подарочные сертификаты
    certification: 'certification.html', // Сертификация дайверов
    contacts: '#', // Контакты
    cart: {
      main: 'cart.html', // Корзина
      empty: 'empty-cart.html', // Корзина / Пусто
      makingOrder: 'making-order.html', // Оформление заказа
    },
    articles: 'articles-page.html', // Статьи
    article: 'article-page.html', // Статья
    cabinet: {
      auth: 'login.html', // Личный кабинет / Авторизация
      registration: 'reg.html', // Личный кабинет / Регистрация
      profile: 'profile.html', // Личный кабинет / Данные профиля
      history: 'orders-history.html', // Личный кабинет / История заказов
      order: 'order.html', // Личный кабинет / Информация о заказе
      orderAccepted: 'order-accepted.html' // Личный кабинет / Заказ принят
    },
    notFound: '404.html'
  };