-
  const URLS = {
    home: 'homepage.html',
    catalog: 'catalog.html', //Каталог
    product: 'product-card.html', // Карточка товара
    productNo: 'product-card-no.html', // Карточка товара нет в наличии
    courses: 'courses-page.html', // Курс дайвинга
    course: 'course.html', // Курс подробная
    trips: 'trips-page.html', // Клубные поездки
    trip: 'trip-page.html', // Клубная поездка
    articles: '#', // Статьи
    article: '#', // Статья
    certificates: '#', // Подарочные сертификаты
    certification: '#', // Сертификация дайверов
    contacts: '#', // Контакты
    cart: {
      main: '#', // Корзина
      empty: '#' // Корзина / Пусто
    },
    makingOrder: '#', // Оформление заказа
    cabinet: {
      auth: '#', // Личный кабинет / Авторизация
      registration: '#', // Личный кабинет / Регистрация
      profile: '#', // Личный кабинет / Данные профиля
      history: '#', // Личный кабинет / История заказов
      order: '#', // Личный кабинет / Информация о заказе
      orderAccepted: '#' // Личный кабинет / Заказ принят
    }
  };