-
  const URLS = {
    home: '#',
    catalog: 'catalog.html', //Каталог
    product: 'product-card.html', // Карточка товара
    courses: '#', // Курс дайвинга
    course: '#', // Курс подробная
    trips: '#', // Клубные поездки
    trip: '#', // Клубная поездка
    articles: '#', // Статьи
    article: '#', // Статья
    certificates: '#', // Подарочные сертификаты
    certification: '#', // Сертификация дайверов
    contacts: '#', // Контакты
    cart: {
      main: '#', // Корзина
      empty: '#' // Корзина / Пусто
    },
    makingOrder: '#', // Оформление заказа
    cabinet: {
      auth: '#', // Личный кабинет / Авторизация
      registration: '#', // Личный кабинет / Регистрация
      profile: '#', // Личный кабинет / Данные профиля
      history: '#', // Личный кабинет / История заказов
      order: '#', // Личный кабинет / Информация о заказе
      orderAccepted: '#' // Личный кабинет / Заказ принят
    }
  };