-
  const URLS = {
    home: 'homepage.html',
    shop: 'shop.html', //Каталог
    catalog: 'catalog.html', //Категория каталога
    product: 'product-card.html', // Карточка товара
    product2: 'product-card-2.html', // Карточка товара
    product3: 'product-card-3.html', // Карточка товара
    productNo: 'product-card-no.html', // Карточка товара нет в наличии
    courses: 'courses-page.html', // Курс дайвинга
    course: 'course-page.html', // Курс подробная
    trips: 'trips-page.html', // Клубные поездки
    trip: 'trip-page.html', // Клубная поездка
    certificates: 'certificates.html', // Подарочные сертификаты
    certification: 'certification.html', // Сертификация дайверов
    contacts: 'contacts.html', // Контакты
    cart: {
      main: 'cart.html', // Корзина
      empty: 'empty-cart.html', // Корзина / Пусто
      makingOrder: 'making-order.html', // Оформление заказа
    },
    articles: 'articles-page.html', // Статьи
    article: 'article-page.html', // Статья
    cabinet: {
      auth: 'login.html', // Личный кабинет / Авторизация
      registration: 'reg.html', // Личный кабинет / Регистрация
      profile: 'profile.html', // Личный кабинет / Данные профиля
      history: 'orders-history.html', // Личный кабинет / История заказов
      order: 'order.html', // Личный кабинет / Информация о заказе
      orderAccepted: 'order-accepted.html' // Личный кабинет / Заказ принят
    },
    notFound: '404.html'
  };
  const PRODUCTS_2 = [
    {
      img: {n: '1', w: '120', h: '171'},
      title: 'SDI OWD',
      text: 'Open Water Diver. Учебное пособие по дайвингу',
      isOldPrice: true,
      cl: 'tutorials__item swiper-slide'
    },
    {
      img: {n: '2', w: '115', h: '171'},
      title: 'SDI ночной дайвинг',
      text: 'Ночной дайвинг. Подводная навигация и погружения',
      isOldPrice: true,
      cl: 'tutorials__item swiper-slide'
    },
    {
      img: {n: '3', w: '120', h: '171'},
      title: 'FRTI пособие',
      text: 'Экстренная медицинская помощь для взрослых и детей',
      isOldPrice: true,
      cl: 'tutorials__item swiper-slide'
    },
    {
      img: {n: '4', w: '123', h: '171'},
      title: 'Стивен Барски Dry Suit',
      text: 'Дайвинг в сухом костюме. История, обзор теории, уход.',
      isOldPrice: true,
      cl: 'tutorials__item swiper-slide'
    },
    {
      img: {n: '3', w: '120', h: '171'},
      title: 'FRTI пособие',
      text: 'Экстренная медицинская помощь для взрослых и детей',
      isOldPrice: true,
      cl: 'tutorials__item swiper-slide'
    }
  ];

  const PRODUCTS_3 = [
    {
      img: {n: '9', w: '145', h: '189'},
      title: 'SDI ночной дайвинг',
      text: 'Open Water Diver. Учебное пособие по дайвингу',
      isOldPrice: true,
      cl: 'recommend__item swiper-slide'
    },
    {
      img: {n: '10', w: '168', h: '146'},
      title: 'SDI ночной дайвинг',
      text: 'Ночной дайвинг. Подводная навигация и погружения',
      isOldPrice: true,
      cl: 'recommend__item swiper-slide'
    },
    {
      img: {n: '11', w: '126', h: '162'},
      title: 'SDI ночной дайвинг',
      text: 'Ночной дайвинг. Подводная навигация и погружения',
      isOldPrice: true,
      cl: 'recommend__item swiper-slide'
    },
    {
      img: {n: '9', w: '145', h: '189'},
      title: 'SDI ночной дайвинг',
      text: 'Ночной дайвинг. Подводная навигация и погружения',
      isOldPrice: true,
      cl: 'recommend__item swiper-slide'
    }
  ];

  const SUBMENU_DIVING = [
    {text: 'OWD', url: '#'},
    {text: 'Advanced Adventure Open Water', url: '#'},
    {text: 'Advanced Diver Development Program', url: '#'},
    {text: 'Advanced Buoyancy', url: '#'},
    {text: 'Advanced Buoyancy ext', url: '#'},
    {text: 'U/W Navigation', url: '#'},
    {text: 'Deep Diver', url: '#'},
    {text: 'Night Diver', url: '#'},
    {text: 'Dry Suit Diver', url: '#'},
    {text: 'Ice Diver', url: '#'},
    {text: 'Sidemount Diver', url: '#'},
    {text: 'Rescue Diver', url: '#'},
    {text: 'SDI Divemaster', url: '#'},
    {text: 'Assistant Instructor', url: '#'},
    {text: 'Adult and Child Emergency Care', url: '#'},
    {text: 'O2 Administrator', url: '#'}
  ];

  const SUBMENU_CATALOG = [
    {text: 'Костюмы', url: URLS.catalog},
    {text: 'Аксессуары', url: URLS.catalog},
    {text: 'Такелаж', url: URLS.catalog},
    {text: 'Фонари', url: URLS.catalog},
    {text: 'Ребризер', url: URLS.catalog},
    {text: 'Подводная съемка', url: URLS.catalog},
    {text: 'Ласты', url: URLS.catalog},
    {text: 'Катушки и буи', url: URLS.catalog},
    {text: 'Sidemount', url: URLS.catalog}
  ];

  const MENU_1 = [
    {text: 'Обучение дайвингу', url: URLS.courses, submenu: SUBMENU_DIVING},
    {text: 'Магазин', url: URLS.shop, submenu: SUBMENU_CATALOG},
    {text: 'Карты сертификации', url: URLS.certification},
    {text: 'Клубные поездки', url: URLS.trips},
  ];

  const MENU_2 = [
    {text: 'Акции', url: '#'},
    {text: 'Оплата и доставка', url: '#'},
    {text: 'Статьи', url: URLS.articles},
    {text: 'Контакты', url: URLS.contacts}
  ];
