html {
  font-size: 14px;
  font-weight: 400;
}

body {
  font-family: $mainFont;
  color: $black;
}

a {
  color: $black;
  text-decoration: none;
}

svg {
  width: auto;
  height: auto;
}

input,
button {
  -webkit-appearance: none;
}

input,
button,
select,
textarea {
  font-family: $mainFont;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
}

input {
  padding: 0;
  margin: 0;
  font-size: 18px;

  @include max(md) {
    font-size: 11px;
  }

  &::placeholder {
    font-family: $mainFont;
    font-size: 14px;
    color: $gray-ph;

    @include max(md) {
      font-size: 11px;
    }
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

h5 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.container {
  width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;

  @include max(sm) {
    padding: 0 20px;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.slick-prev,
.slick-next {
	background-color: transparent !important;
}

.slick-prev {
	svg {
		transform: rotate(180deg);
		margin-left: 3px;
	}
}
